<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head><meta charset="UTF-8"/></head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark" style="background:#13233f;">
  <div class="container">
    <a class="navbar-brand fw-bold" th:href="@{/}">🚲 BikeShare</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navMenu">
      <!-- Liens centre -->
      <ul class="navbar-nav me-auto ms-3 gap-1">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/bikes}">Catalogue</a>
        </li>
        <li class="nav-item" sec:authorize="hasAuthority('ROLE_ADMIN')">
          <a class="nav-link text-warning fw-bold" th:href="@{/admin}">⚙ Administration</a>
        </li>
      </ul>

      <!-- Liens droite -->
      <div class="d-flex gap-2 align-items-center">

        <!-- Visiteur non connecté -->
        <th:block sec:authorize="!isAuthenticated()">
          <a class="btn btn-outline-light btn-sm" th:href="@{/bikes}">Voir les vélos</a>
          <a class="btn btn-sm text-white" style="background:#1fa67a;" th:href="@{/login}">Se connecter</a>
          <a class="btn btn-sm btn-outline-light" th:href="@{/register}">S'inscrire</a>
        </th:block>

        <!-- Membre connecté (pas admin) -->
        <th:block sec:authorize="hasAuthority('ROLE_MEMBER') and !hasAuthority('ROLE_ADMIN')">
          <a class="btn btn-outline-light btn-sm" th:href="@{/account/bikes/create}">Proposer un vélo</a>
          <a class="btn btn-sm text-white" style="background:#1fa67a;" th:href="@{/account}">Mon compte</a>
        </th:block>

        <!-- Admin connecté -->
        <th:block sec:authorize="hasAuthority('ROLE_ADMIN')">
          <a class="btn btn-sm text-white" style="background:#1fa67a;" th:href="@{/account}">Mon compte</a>
        </th:block>

      </div>
    </div>
  </div>
</nav>
<footer th:fragment="footer" class="text-white text-center py-4 mt-5" style="background:#13233f;">
  <p class="mb-0">🚲 BikeShare — Plateforme de location de vélos entre particuliers</p>
</footer>
</body>
</html>
